
@import 'node_modules\bootstrap\less\bootstrap.less';
@icon-font-path:     "/node_modules/bootstrap/dist/fonts/";

@import  'node_modules\@fortawesome\fontawesome-free\less\fontawesome.less';
@fa-font-path:        "/node_modules/@fortawesome/fontawesome-free/webfonts/";

@import 'nav.less';
@import 'variables.less';
@import 'userAdd.less';
@import 'searchUser.less';
@import 'userDetails.less';

.row{
    margin: 0;
}

p{
    text-align: center;
    height: 49px;
    font-size: 190%;
    overflow: hidden;
    padding-top: 10px;
    text-overflow: ellipsis;
}
html *
{
    .color-text;
   font-family: 'Cocon-Regular';
}

.img-generic{
    width:100%;
    padding:25px;
}
.img-generic-consolation{
    .div-color-background;
    padding:25px;
    width: 100%;
}

.margin-top-rowindex{
    margin-top: 42px;
    text-align: center; 
}
.color-body{
    .color-background;
}
.button-user, .button-user-search, .button-awards{
    margin-top: 33px;
}
.nav-awards-img{
    width: 53px;
}
.color-nav-awards{
    background-color: @color-background ;
}
.user{
    text-align: center;
}
.buttons-awards-cons{
    width:80%;
}
.buttons-awards{
    width: 100%;
}
.start{
    margin-top: 32px;
    text-align: center;
}
.prize-consolation{
    text-align: center;
    background-color: #6cd2f0;
    width: 15%;
    margin: 0 auto;
    padding: 16px;
}
.button-consolation{
margin-left: 30%; 
    width: 33%;
    background-color: #bef0ff;
    padding: 7px;
}
.button-consolation-left{
    .div-color-background;
    width: 34%;
    background-color: #bef0ff;
    padding: 7px;
}
.container-prize-consolation{
    margin-bottom: 42px;
}

@media screen (min-width: 992px) {
    .margin-button-awards{
        margin-right: 80px;
    }
}

.awards{
    background-color: #6cd2f0;
    margin-top: 44px;
    margin: 0 auto;
    padding: 5%;
    margin-bottom: 7%;
    padding-bottom: 40%;
}

.active{
    list-style-type: none;
}
.consolated {
    width: 90%;
    padding-bottom: 36%;
}
.button-left{
    .div-color-background;
    }
.button-right{
    .div-color-background;
    margin-left: 16%;
}

.add-class-color{
    background-color: #184653;
}
.image-setting{
    padding: 6%;
    width: 100%;
}
.image-generic{
    .div-color-background;
    .image-setting;
    content: url(/img/star.png);
}
.image-consolate{
    .div-color-background;
    .image-setting;
    content: url(/img/medal.png);
}
.audio{
    .div-color-background;
    .image-setting;
    content: url(/img/radio-antenna.png);
}
.video{
     .div-color-background;
    .image-setting;
    content: url(/img/televisions.png);  
   
}
.videoplay{
     width: 598px;
    height: 300px;
}
.application{
    .div-color-background;
    .image-setting;
    content: url(/img/lace.png);
}
.ytvideo{ 
    .div-color-background;
    .image-setting;
    content: url(/img/video-play.png);
}
.web{
    .div-color-background;
    .image-setting;
    content: url(/img/browser.png);
}
.modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    box-shadow: 0 3px 9px rgba(0,0,0,0.5);
    background-clip: padding-box;
    outline: 0;
}
.text-prize-consolation{
    text-align: center;
}
.error{
    background-color: red;
}
.modal-title{
    font-size: 37px;
    text-transform: uppercase;
    text-align: center;
}
.ModalCenterFolderInputUpload{
     padding-right: 43%;
}
.descriptionMuted{
    font-size: 128%;
    margin-left: 3%;
}
.ModalCenterFolderInputDescription, .modalCenterWebInputDescription, .modalCenterWebInputUpload, .modalCenterFolderInputUploadshow {
    width: 100%;
    text-align: center;
}
.modalCenterFolderInputUploadhidden{
    margin-bottom: -4%;
    opacity: 0;
    z-index: 999;
}
//start media 
@media (min-width : 992px) and (max-width : 1199px){
    .button-right{
        margin-left: 33%;
    }
    .prize-consolation {
    text-align: center;
    background-color: #6cd2f0;
    width: 32%;
    margin: 0 auto;
    padding: 16px;
    }
}
@media (min-width : 20px) and (max-width : 991px){
    .prize-consolation {
    text-align: center;
    background-color: #6cd2f0;
    width: 63%;
    margin: 0 auto;
    padding: 16px;
}
    .buttons-awards {
    width: 17%;
}
    .button-right{
        margin-left: 0;
    }
    .awards{
        padding-bottom: 15%;}
}
@media (min-width : 768px) and (max-width : 991px){
    .button-right{
        margin-left: 33%;
    }
}
