
#header{
    
    .navigation{
    background-color: #ecfbff;
    text-align: center;
    height: 88px;
    }

    .index{
        position: absolute;
        top: 10px;
        left: 11px;
        font-size: 22px;
        text-decoration: none;
        }

    .prize{
        font-size: 44px;
        text-decoration: none;
        }

    .navbar-button-add-search{
        text-align: center;
        padding-top: 8px;
        position: absolute;
        right: 25px;   
        text-decoration: none;
        }
    .navbar-button-add{
        text-align: center;
        padding-top: 8px;
        position: absolute;
        right: 94px;   
        text-decoration: none;
        }
}