
.container-userDetails{
    display: block;
    height: 336px;
    .color-background-userDetails;
   @media only screen and (max-width : 991px) {
       height: 1072px;
    }
} 
.userDetails-pencil{
    width: 21px;
}
.userDetailsEdit{
    padding-right: 0;
    text-align: center;
    padding: 17px;
    
}
.modal-content-userDetails{
    transform: translate(0,-202px); 
}
.userDetailsData{
    padding: 0;
}
.child-userDetailsEdit{
    position: relative;
    top:6px;
    display: inline-block;
}
.userDetailsLevel{
    text-align: center;
    padding: 0;
    
}
.userDetailsEdit-child{
    padding: 17px;
    .color-background-userDetailEdit-img;
}
.button-userDetails-generic{
    font-size: 34px;
    border-radius: 46px;
    width: 57px;
    border: none;
    height: 55px;
   .color-background-userDetailEdit-img;
    position: absolute;
}
.userDetails-hands{
    .button-userDetails-generic;
    left: 19px;
    top: 216px;
   
}
.userDetails-edit{
    .button-userDetails-generic;
    left: 214px;
    top: 216px;
}
.container-level-details{
    background-color: #f14540;
    border-radius: 50%;
    display: inline-block;
    margin-top: 13px;
}
.userDetailsLevel-content-img{
    width: 191px;
    padding: 15px;

}
.userDetails-data{
    border: none;
    background-color: #8ac9da;
    padding: 3px;
    font-size: 30px;
    height: 29px;
    width: 263px;
}
.user-compiled{
    text-align: left;
    margin: 0;
    font-size: 19px;
}
.userDetails-real-level{
    font-size: 39px;
    padding: 0;
    text-transform: uppercase;
}
.userDetails-content-number{
    text-align: center;
    background-color: transparent;
    border: none;
    padding: 0;
    width: 63px;
    font-size:33px;
    margin-bottom: 4px;
}


tr:nth-child(even) {
 background-color: #c7d9de;
}
tr:nth-child(odd) {
  background-color: #d9e7eb;
}
.child-userDetailsLevel{
    margin-top: 12px;
    background-color: #8ac9da;
    display: inline-block;
}

.body-userDetails{
    background-color: #ecfbff;
}
//start table
.container-tableData-userDetails{
    margin-top: 30px;
}
.panel-heading-table{
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    background-color: #007fff;
    color: white;
}
.table-count{
    color:white;
    float: right;
    font-size: 28px;

}
.panel-title-table{
    margin-top: 0;
    margin-bottom: 0;
    font-size: 28px;
    color: inherit;
}
.content-table-UserDetails{
    font-size: 27px;
}
.tr-color-userDetails-one{
  background-color: #d9e7eb;  
}
.container-imageAnimal-userDetails {
    margin-top: 30px;
    margin-bottom: 10px;
    
}
.tr-userDetails{
    background-color: #cdeaf1 !important;
    
}