@color-background : #ecfbff;
@color-background-userDetailEdit-img : #edfbff ;

.div-color-background{
    background-color: #bef0ff;
}
.color-background{
    background-color: #b5e4f2;
}
.color-text{
    color: #356d7d;
}

.color-background-userDetails{
    background-color: #b7e5f1;
}

.color-background-userDetailEdit-img {
    background-color:  @color-background-userDetailEdit-img;
}
