<!doctype html>
<html lang="it">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link href="css/main.css" rel="stylesheet">
    <title>Wall of Life</title>
  </head>
  <body class="color-body body-awards"> 
        <!--START nav -->
      <header id = "header">
      <div class="navigation">
        <a class ="index" href="index.html">Wall of Life</a>
        <a class="prize">Gestione Premi</a>
        <a class="nav-link navbar-button-add-search" href="search.html">
            <img  class="nav-awards-img" src="img/group.png"><br>CERCA
        </a>
        <a class="nav-link navbar-button-add" href="userAdd.html">
            <img class="nav-awards-img" src="img/add-user.png"><br>AGGIUNGI
        </a>
       </div>
        </header>  
      
      <!--START body -->
      <div class=" start">
        <div class="row row-start-wall">
            <!--template  awards should go here -->
          </div>
      </div>   
    
<!-- Modal FOR WEB -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <h1 class="modal-title" id="exampleModalLongTitle">Inserisci il link </h1>
          </div>
          <div class="modal-body">
            <h2>Carica URL</h2>
            <input class="modalCenterWebInputUpload">
            <h2>Descrizione file</h2>
            <input class="modalCenterWebInputDescription">
          </div>
            <small class="form-text text-muted descriptionMuted">
                La descrizione non può essere vuota.</small>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salva</button>
          </div>
        </div>
      </div>
    </div>
      <!-- Modal FOR FOLDER  -->
    <div class="modal fade" id="ModalCenterFolder" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
              <h1 class="modal-title" id="exampleModalLongTitle">Inserisci il File </h1>
          </div>
          <div class="modal-body">
              <h2>Carica file</h2>
                <input type="file" class="ModalCenterFolderInputUpload modalCenterFolderInputUploadhidden"> 
                <input class="modalCenterFolderInputUploadshow">
              <h2>Descrizione file</h2>
                <input class="ModalCenterFolderInputDescription">
          </div>
            <small class="form-text text-muted descriptionMuted">
                La descrizione non può essere vuota.</small>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Salva</button>
          </div>
        </div>
      </div>
    </div>
 
<script id="awards" type="text/x-handlebars-template">
{{#each prizes }}

 {{#if @last }}
    <h2 class="text-prize-consolation">Premio di Consolazione</h2>
    {{/if}}

    <div class=" col-sm col-md-4 col-lg-2 {{#if @last}} col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-2  col-lg-offset-5 {{/if}}  ">
        
        <div class="awards{{#if @last }} consolated {{/if}}"  data-saved="{{prizeid}}" > 
            <img class="img {{type}} image-generic" > 
             {{#if description }}
            <p> {{description}} </p>
            {{else}}
            <p> Carica premio </p>
            {{/if}}
            <button class="btn btn-light  col-sm-4 col-md-4 col-lg-5 button-left" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                <img  class="buttons-awards" src="img/location.png">
            </button>
            <button class="btn btn-light col-sm-4 col-md-4 col-lg-5 margin-button-awards button-right" type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalCenterFolder" >
                <img  class="buttons-awards" src="img/folder.png">
            </button>
        </div>
    </div>

{{/each}}
</script>
    <!-- JavaScript -->
    <script src=output.min.js></script>
  </body>
</html>